@page "/"
@using AnimeClone.Data
@using Microsoft.EntityFrameworkCore
@inject AnimeCloneContext animeDbContext
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<ul>
    @foreach (var anime in animeDbContext.Animes.ToList())
    {
        <li>@anime.Title</li>
    }
</ul>
